@font-face {
	font-family: "Impact";
	font-display: block;
  src: url("../fonts/impact.woff") format('woff');
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bg-pure-black {
  background-color: black;
}
